.employee {
  font-family: 'Roboto';
  font-size: 15px;
  color: #ffffff;
  font-weight: 500;
  margin-top: 20px;
}

.employee-item {
  display: flex;
}

.checkbox-input {
  height: 15px;
  width: 15px;
  margin-left: -38px;
  margin-right: 10px;
}

ul {
  list-style-type: none;
}

.checkbox-label {
  font-family: 'Roboto';
  font-size: 15px;
  color: #ffffff;
  font-weight: 400;
  margin-top: 2px;
}

.cc{
  margin-bottom: 20px;
}